<!DOCTYPE html>
<html>

<head>
  <title>Toy Store</title>
  <link rel="stylesheet" href="<%= url('/app.css') %>" type="text/css"/>
</head>

<body>

<h1>Toy Story - Toy Store</h1>
<hr/>

<%= yield %>

</body>
